.case-study-hero-section-base {
    background-image: url("/trends/trend-hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 590px;
    display: flex;
    flex-direction: column;
}

.case-study-hero-para {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.hero-para-wrapper {
    border-left: 1px solid #B49325;
    padding-left: 1rem;
    margin: 2rem 0;
}

.hero-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 829px;
}

.all-trends-section-base {
    height: auto;
    max-height: none;
    padding: 6rem 0;
}

.all-trends-card-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    display: grid;
    margin: 2rem 0;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}