footer a:hover {
    color: #f5eacb;
}

.f-active {
    color: #dbbe65;
}

.footer-connect-line-text {
    background-image: var(--primary-text-color);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}
