@import "tailwindcss";
@import "@heroui/styles";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

:root {
  --background: #180E03;
  --foreground: #FFFFFF;
  --primary-text-color: linear-gradient(to right, #C29226, #B27D0F, #D9B14A, #FADE7B, #DAB74F, #C7972B);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.section-frame {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  margin: auto;

  @media screen and (max-width:767px) {
    padding: 4rem 1rem;
  }
}

.load-more-btn{
  background-image: var(--primary-text-color);
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    -webkit-background-clip: text;
    background-clip: text;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    display: flex;
}

.section-gradient-heading {
  /* Fallback color for older browsers */
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;

  /* Apply the linear gradient as a background image */
  background-image: var(--primary-text-color);

  /* Clip the background to the text area */
  background-clip: text;
  -webkit-background-clip: text;
  /* For WebKit browsers */

  /* Make the text color transparent to reveal the background */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /* For WebKit browsers */
  width: fit-content;

  @media screen and (min-width:768px) and (max-width:1023px) {
    font-size: 32px;
  }

  @media screen and (max-width:767px) {
    font-size: 22px;
  }
}

.section-content-title {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
  text-transform: capitalize;
  line-height: 1.2;

  @media screen and (max-width:767px) {
    font-size: 22px;
  }
}

.section-content-title span {

  /* Apply the linear gradient as a background image */
  background-image: var(--primary-text-color);

  /* Clip the background to the text area */
  background-clip: text;
  -webkit-background-clip: text;
  /* For WebKit browsers */

  /* Make the text color transparent to reveal the background */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /* For WebKit browsers */
  width: fit-content;
}

.dollar-img {
  width: 24px;
  height: 33px;

  @media screen and (max-width:767px) {
    width: 18px;
    height: 24px;
  }
}

.section-content-title-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.section-base-bg {
  background-image: url("/section-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-height: 700px;
  display: flex;

  @media screen and (max-width:767px) {
    height: auto;
    max-height: none;
  }
}

.form-field-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 4px 0;

  @media screen and (max-width:767px) {
    flex-direction: column;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.toast {
  width: fit-content;
}

.toast-region--top {
  left: 70%;
}