.org-hero-section-base {
    background-image: url("/org/org-hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 520px;
    display: flex;
    flex-direction: column;
}

.org-hero-para {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.hero-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 829px;
}

.hero-para-wrapper {
    border-left: 1px solid #B49325;
    padding-left: 1rem;
    margin: 2rem 0;
}

.hero-btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.org-built-section .section-container__img-side {
    max-width: 427px;
}

.org-built-img {
    max-width: 100%;
}

.org-built-section .section-container__content-side {
    max-width: 697px;
}

.how-support-path-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.how-support-path-para {
    text-align: center;
    font-size: 18px;
    max-width: 760px;
    margin: auto;
}

.how-support-section-base {
    height: auto;
    max-height: none;
    padding: 4rem 0;
}

.how-support-path-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.next-hire-container {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    display: flex;
}

.next-hire-view-btn {
    /* Apply the linear gradient as a background image */
    background-image: var(--primary-text-color);

    /* Clip the background to the text area */
    background-clip: text;
    -webkit-background-clip: text;
    /* For WebKit browsers */

    /* Make the text color transparent to reveal the background */
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    /* For WebKit browsers */
    width: fit-content;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}