.detail-card {
    border: 1px solid transparent;
    background:
        linear-gradient(#000, #000) padding-box,
        /* Inner background color */
        linear-gradient(to right, #C29226, #B27D0F, #D9B14A, #FADE7B, #DAB74F, #C7972B) border-box;
    /* Border gradient */
    border-radius: 10px;
    width: 100%;
    max-width: 550px;
    min-height: 345px;
    padding: 1rem;

    @media screen and (max-width: 767px) {
        max-width: 100%;
        min-height: auto;
    }
}

.detail-card-title {
    font-weight: 600;
    margin-bottom: .5rem;
    margin-top: .8rem;
}

.detail-card-description {
    font-weight: 300;
    margin: 1rem 0;
}
