.section-container {
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    display: flex;
    height: 100%;

    @media screen and (max-width:767px) {
        flex-direction: column;
    }
}

.section-container.reversed-container {
    flex-direction: row-reverse;

    @media screen and (max-width:767px) {
        flex-direction: column;
    }
}

.section-container__img-side {
    flex: 1;
    /* display: flex;
    justify-content: center; */
}

.section-container__content-side {
    flex: 1;
    max-width: 541px;
}