.candidate-card {
    border: 1px solid transparent;
    background:
        linear-gradient(#000, #000) padding-box,
        /* Inner background color */
        linear-gradient(to right, #C29226, #B27D0F, #D9B14A, #FADE7B, #DAB74F, #C7972B) border-box;
    /* Border gradient */
    border-radius: 10px;
    width: 100%;
    max-width: 342px;
    height: 455px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width:767px) {
        max-width: none;
    }
}

.candidate-card .button-action {
    max-width: 100%;
}

.candidate-card-title {
    color: #FFFFFF;
    font-weight: 400;
}

.candidate-card-description {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
}

.candidate-card-tag-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    width: 100%;
}

.candidate-card-tag {
    background: #1E1204;
    border: 1px solid #21DB00;
    border-radius: 4px;
    padding: 6px;
    font-size: 12px;
    text-align: center;
    font-weight: 300;

    /* Prevent long text from overflowing */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
}

.candidate-img {
    width: 100%;
    height: 190px;
    object-fit: scale-down;
    border-radius: 8px;
}