.service-card-box {
    border: 1px solid transparent;
    background:
        linear-gradient(#000, #000) padding-box,
        /* Inner background color */
        linear-gradient(to right, #C29226, #B27D0F, #D9B14A, #FADE7B, #DAB74F, #C7972B) border-box;
    /* Border gradient */
    border-radius: 10px;
    width: 100%;
    max-width: 360px;
    min-height: 498px;
    padding: 1rem;
}

.service-card-box ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.service-card-box ul li:not(:last-child) {
    margin-bottom: .5rem;
}

.service-card-title {
    font-weight: 600;
    margin-bottom: .5rem;
    margin-top: .8rem;
}

.service-card-description {
    font-weight: 300;
    margin: 1rem 0;
}

.service-card-support-title {
    font-weight: 300;
    margin-bottom: .5rem;
}

.service-card-support-item {
    font-weight: 300;
}